[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/freak97
[access "refs/for/refs/*"]
	read = group user/freak97
	push = group user/freak97
	label-Code-Review = -2..+2 group user/freak97
	label-Verified = -1..+1 group user/freak97
	rebase = group user/freak97
	removeReviewer = group user/freak97
	submit = group user/freak97
[access "refs/heads/*"]
	read = group user/freak97
	create = group user/freak97
	push = +force group user/freak97
	pushMerge = group user/freak97
[access "refs/tags/*"]
	push = +force group user/freak97
	pushTag = group user/freak97
	pushSignedTag = group user/freak97
